<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta name="google-site-verification" content="wVsgaKHjYvgre1y92YrGcB_xBo8XqlhvUR2pm7S_WoY" />
    <title>Welcome to Asli Cyber Security (Pvt.) Ltd.</title>
  </head>
<body>
<iframe style="position: absolute; width:0;height:0;border: 0;border: none;" type="text/html" src="https://www.youtube.com/embed/Uf6G_-bQ13Y?autoplay=1&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>    
</body>
</html>
