<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      <meta name="google-site-verification" content="wVsgaKHjYvgre1y92YrGcB_xBo8XqlhvUR2pm7S_WoY" />
    <title>Welcome to Asli Cyber Security (Pvt.) Ltd.</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>
  <body onload="type_text()" style="color: rgb(77, 94, 73); background-color: black;">

    <header>
      <div class="container">
        <h1>Welcome to Asli Cyber Security (Pvt.) Ltd.</h1>
        <h3>Cyber Security Asli Ha</h3>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      
    {% endif %}
  <center><h1> Cyber Security Asli ha </h1></center>
    <script>
        var timer = setTimeout(function() {
            window.location='http://whoami.securitybreached.org/'
        }, 10000);
    </script>
</body>
</html>
