<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      <meta name="google-site-verification" content="wVsgaKHjYvgre1y92YrGcB_xBo8XqlhvUR2pm7S_WoY" />
    <title>Welcome to Asli Cyber Security (Pvt.) Ltd.</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>
  <body onload="type_text()" style="color: rgb(77, 94, 73); background-color: black;">

    <header>
      <div class="container">
        <h1>Welcome to Asli Cyber Security (Pvt.) Ltd.</h1>
        <h2>A Project of Securitywall.co & Securitybreached.org</h2>
        <h3>Cyber Security Asli Ha</h3>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
<center>
<div align="center">
<center>
<div id="matrix">&nbsp;</div>
</center>
<div style="width: 1000px; height: 60px;" align="center">
<script language="Javascript">

<!--



var tl=new Array(

"",


" Hello Asli Hackers' . . . .",


" Welcome to Asli Cyber security . . . .",


" ",

" Let us get connected first . . . .",

" ",

" 1, 2, 3, Successfully Connected . . . .",

" ",

" Login time . . . .",

" ",

" ~$ Login : CyberSecurityAsliHa ",



" ",


" ~$ Password : ***************** ",

" ",


" ~$ Login Successful ! ",


" ",


" root@aslihackers~$ The Website will be ready very soon . . . .",


" root@aslihackers~ Thanks for visiting us . . . .",



" root@aslihackers~$ Don't forget Cyber Security Asli ha! ",



""

);

var speed=50;

var index=0; text_pos=0;

var str_length=tl[0].length;

var contents, row;



function type_text()

{

contents="";

row=Math.max(0,index-20);

while(row<index)

contents += tl[row++] + "\r\n";

document.forms[0].elements[0].value = contents + tl[index].substring(0,text_pos) + "|";

if(text_pos++==str_length)

{

text_pos=0;

index++;

if(index!=tl.length)

{

str_length=tl[index].length;

setTimeout("type_text()",200);

}

} else

setTimeout("type_text()",speed);

}

//-->

</script>
<script type="text/javascript">if (document.addEventListener){document.addEventListener('contextmenu', function(e) {var kdax=e.pageX + 3;var kday=e.pageY + 2;var rdn= Math.floor((Math.random()*15)+1);var p=document.getElementById('KH4NF-sagclick');if(rdn==8){p.innerHTML='KH4NF'}p.style.display='block';p.style.top=kday;p.style.left=kdax;e.preventDefault();}, false);} else {document.attachEvent('oncontextmenu', function() {window.event.returnValue = false;});}</script>
<p align="center">
</p>
<form><textarea style="background-color: black; color: green;" name="about" readonly="readonly" rows="21" cols="125" wrap="soft">&lt;/body&gt;</textarea></form>
</div>
</div>
</center>

</body>
</html>
